<h1><%= title %></h1>

<form method="POST" action="/new">
    <input name="messageAuthor" type="text" placeholder="Author">
    <input name="messageText" type="text" placeholder="Message">
    <button>submit</button>
 </form>